@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1604974592292'); /* IE9 */
  src: url('iconfont.eot?t=1604974592292#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABpAAAAKKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBFIEfATYCJAMICwYABCAFhG0HNhvLBciuoQpcugMp0sJuYPGEvXPu6/qHBdCPePhv7Xff7OwXxZNq5FA9q2QSjZJIkGiVFKhiJeyP+7WdeDrwxOjn8RIikuzL2xffH65ZO837hQzNpOKhQk/wDAFKj736fgj5wtOl0Ors6gq6SNUPLqe/AgpkXoNzmWPrmICBpQHtjVFkJZJ5w9hNBA/wMYGWSQme/aaOARSWgVWBeFAkDoULQVl2Mg2h1nAwixelRnpKV5Bn/v34l4swSVkANUf3jSKq+bqEOb6r3VFEiGAcL1FgHZKJs8bkAZ9wyD6tpN8sdKzK4Mt/Rc3iqAbh/HWgvAPGdeEzibD4UcsTyHJ0BbI96V5SZ6Kbj4Hbz8H77+G7r5GBvd2yIZJzsFI+fBhDHOWHlA7uTzzCvsX7sor/Pj9Q+b3Nz2QPOk+vW4COjkL1icB2YkHPPcWn9XjF8kZ6LNzZES/+eD9h299Xa8VfsYg8CDZfFx6OZfC+kvurtYyGuZHGOVzBvxIN7MmxBJhSDkWN7mRl0sqElhYqZHqHvE3Vjt5YNjSM3p67biKDQsM8mknrUGrbgJqGLWhZ03y8bRjlE7mJVRsahAGXkPS8QWHANZpJr1Aa8ws1A+GDlovgwrbFUKJR4BiImJ/BimCZBFlYVFT2gTShczQv4ZQhoK4SwdlUppxpBhPoElvcSSnHGMGEWgZu0p4DXbewTS0VBJaSGbPz6TRpelNKsAwUtYcCHAaIMN4MTCGwmAgdzkQrn+8DJBN0HNrRMOIeAiiXMj6WlZIZgDYrzUENj/KKa5Ikh2EIjKAsBqxJmwd0OgtmN89TAQGTIk+I2/LScBAZqkxtrzZ+oMBpAehSwAmFzqPMmZKqkASzJhACAAA=') format('woff2'),
  url('iconfont.woff?t=1604974592292') format('woff'),
  url('iconfont.ttf?t=1604974592292') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1604974592292#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont11 {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangjiantou:before {
  content: "\e657";
  font-size: 40px;
}

